@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @font-face {
        font-family: guilda;
        src: url(../../public/fonts/GildaDisplay-Regular.ttf);
    }

    @font-face {
        font-family: beau;
        src: url(../../public/fonts/BeauRivage-Regular.ttf);
    }
}

.galleryScroll {
    cursor: ew-resize;
}